/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background: #00008b;}

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #f00; color: #fff; text-shadow: none; }
::selection { background: #f00; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #fff; }
a:visited { color: #fff; }
a:hover { color: #f00; text-decoration: underline }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

#container{
    width: 1076px;
    margin: 4px auto;
    color:#fff;
    position: relative;
    overflow: auto;
}
header{
    height: 399px;
    background: url("../img/header_bg.png") no-repeat 0 0;
    position: relative;
}
header nav{
    font-size: 22px;
    height: 35px;
    left: 75px;
    line-height: 35px;
    position: absolute;
    top: 130px;
    text-shadow: 0 -1px 1px #222;
}
header nav li{
    display: inline-block;
    padding: 0 10px;
}
header nav a.active{
    text-shadow: 3px 2px 3px #222222;
    color: #f00;
}
#headerBottom{
    width: 976px;
    height: 100px;
    background: url("../img/header_bottom_bg.png") no-repeat;
    margin: 0 auto -5px;
}
#main{
    position: relative;
    height: 420px;
}
#main #slider{
    width: 930px;
    height: 416px;
    margin: 0 auto;
    background:url(../img/slider/loading.gif) no-repeat 50% 50%;
    position: relative;
}
/* Direction nav styles (e.g. Next & Prev) */
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	top:10px;
	right:10px;
    z-index: 1005;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../img/slider/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:78px;
	height:27px;
	background:url(../img/slider/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
    bottom: 2px;
}
a.nivo-nextNav {
	background-position:0 -27px;
	right:5px;
}
a.nivo-prevNav {
	left: 13px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 30px;
}
.nivo-caption a {
    color:#efe9d1;
    text-decoration:underline;
}


footer{
    position: relative;
    background: url("../img/footer_bg.png") no-repeat 8px 96px;
    margin: 0 auto;
}
footer #footerSFW{
    float: right;
    font-size: 20px;
    margin-right: 80px;
    margin-top: 45px;
}
footer #footerSFW a{
    color: #907061;
}
footer #footerSFW a:hover{
    text-shadow: 0 0 15px #f00;
}
footer #footerTop{
    position: relative;
    margin: 0 auto;
    width: 983px;
    height: 96px;
    background: url("../img/footer_top_bg.png") no-repeat;
}
footer #footerText{
    width: 920px;
    height: 100px;
    margin: 70px auto 10px;
    color: #775748;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 0 20px;
}
footer #footerBottom{
    margin-top: 150px;
    text-align: center;
}


/*ABOUT*/
.about header, .contact header{
    height: 300px;
}
.about #main{
    width: 930px;
    height: 497px;
    background: url("../img/about_bg.jpg") no-repeat;
    margin: 0 auto;
}
.about #main #aboutSlider{
    width: 736px;
    height: 352px;
    margin: 0 auto;
    background:url(../img/slider/loading.gif) no-repeat 50% 50%;
    position: relative;
}
.about .nivo-controlNav {
    display: none;
}
.about .nivo-directionNav a {
	display:block;
	width:36px;
	height:50px;
	background:url(../img/slider/about_arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
    top: 45%;
}
.about a.nivo-nextNav {
	right:-60px;
    background-position: 0 5px;
}
.about a.nivo-prevNav {
    background-position: 0 -48px;
    left: -60px;
}

.about .nivo-caption {
    background: none repeat scroll 0 0 transparent;
    bottom: -190px;
    font-family: Helvetica,Arial,sans-serif;
    height: 150px;
    position: absolute;
    text-shadow: none;
    width: 900px;
    left: -80px;
}
.about .nivo-caption a {
    color:#efe9d1;
    text-decoration:underline;
}

/*CONTACT*/
.contact #main{
    background: url("../img/contact_bg.jpg") no-repeat scroll 0 0 transparent;
    height: 367px;
    margin: 0 auto;
    padding: 35px 110px;
    width: 710px;
}
.contact label, .contact input, .contact textarea{
    display: block
}
.contact label{
    font-size: 20px;
    padding: 3px;
}
.contact input{
    height: 31px;
    width: 335px;
    border: none;
    background: none;
    font-size: 20px;
    color: #fff;
    margin-left: 5px;
    margin-top: 1px;
}
.contact #contactLeft{
    width: 350px;
    float: left;
}
.contact #contactRight{
    width: 345px;
    float: right;
}
.contact textarea{
    border: none;
    background: none;
    width: 340px;
    height: 250px;
    font-size: 20px;
    color: #fff;
    resize: none;
}
.contact #contactBtn{
    background: url("../img/contact_btn.png");
    width: 308px;
    height: 35px;
    border: none;
    color: #fff;
    font-size: 18px;
    margin: 15px 20px;
}
.contact #contactBtn:hover{
    text-decoration: underline;
}


/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
