article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    -ms-overflow-y: scroll;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: #00008b;
}

body {
    margin: 0;
    font-size: 13px;
    line-height: 1.231;
}

body, button, input, select, textarea {
    font-family: sans-serif;
    color: #222;
}

::-moz-selection {
    background: #f00;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #f00;
    color: #fff;
    text-shadow: none;
}

a {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #f00;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before, q:after {
    content: "";
    content: none;
}

small {
    font-size: 85%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

label {
    cursor: pointer;
}

legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button, input {
    line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    -webkit-resize: vertical;
    -moz-resize: vertical;
    resize: vertical;
}

input:invalid, textarea:invalid {
    background-color: #f0dddd;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

html {
    background: url('../img/bg_blueprint.jpg') no-repeat 50% 50%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

#container {
    width: 1076px;
    margin: 4px auto;
    color: #fff;
    position: relative;
    overflow: auto;
}

header {
    height: 399px;
    background: url("../img/header_bg.png") no-repeat 0 0;
    position: relative;
}

header nav {
    font-size: 22px;
    height: 35px;
    left: 75px;
    line-height: 35px;
    position: absolute;
    top: 130px;
    text-shadow: 0 -1px 1px #222;
}

header nav li {
    display: inline-block;
    padding: 0 10px;
}

header nav a.active {
    text-shadow: 3px 2px 3px #222222;
    color: #f00;
}

#headerBottom {
    width: 976px;
    height: 100px;
    background: url("../img/header_bottom_bg.png") no-repeat;
    margin: 0 auto -5px;
    position: relative;
}

#main {
    position: relative;
    height: 420px;
}

#main #slider {
    width: 930px;
    height: 416px;
    margin: 0 auto;
    background: url(../img/slider/loading.gif) no-repeat 50% 50%;
    position: relative;
}

#slider a {
    border: 0;
    display: block;
}

.nivo-controlNav {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1005;
}

.nivo-controlNav a {
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/slider/bullets.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    margin-right: 3px;
    float: left;
}

.nivo-controlNav a.active {
    background-position: 0 -22px;
}

.nivo-directionNav a {
    display: block;
    width: 78px;
    height: 27px;
    background: url(../img/slider/arrows.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    bottom: 2px;
}

a.nivo-nextNav {
    background-position: 0 -27px;
    right: 5px;
}

a.nivo-prevNav {
    left: 13px;
}

.nivo-caption {
    text-shadow: none;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 30px;
}

.nivo-caption a {
    color: #efe9d1;
    text-decoration: underline;
}

footer {
    position: relative;
    background: url("../img/footer_bg.png") no-repeat 8px 96px;
    margin: 0 auto;
}

footer #footerSFW {
    float: right;
    font-size: 20px;
    margin-right: 80px;
    margin-top: 45px;
    color: #907061;
}

footer #listLeft {
    float: left;
    width: 440px;
    margin-left: 40px;
}

footer #listRight {
    float: left;
}

footer #footerSFW a {
    color: #907061;
}

footer #footerSFW a:hover {
    text-shadow: 0 0 15px #f00;
}

footer #footerTop {
    position: relative;
    margin: 0 auto;
    width: 983px;
    height: 96px;
    background: url("../img/footer_top_bg.png") no-repeat;
}

footer #footerText {
    width: 920px;
    height: 100px;
    margin: 70px auto 10px;
    color: #775748;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 0 20px;
}

footer #footerBottom {
    margin-top: 150px;
    text-align: center;
    font-size: 15px;
}

footer .sfwList {
    float: left;
    height: 100px;
}


/*PORTFOLIO*/
.portfolio #main{
    width: 930px;
    height: 499px;
    background: url("../img/portfolio_bg.jpg") no-repeat;
    margin: 0 auto;
    position: relative;
}

.portfolio #projectText{
    position: absolute;
    top: 0px;
    left: 480px;
    height: 300px;
    width: 400px;
}
.portfolio #projectText h3{
    font-size: 22px;
    margin: 10px;
    text-shadow: 0 0 10px #3B93F1;
}
.portfolio #projectText h4{
    font-size: 18px;
}
.portfolio #projectText {
    font-size: 16px;
}

.about header, .contact header {
    height: 300px;
}

.about #main {
    width: 930px;
    height: 497px;
    background: url("../img/about_bg.jpg") no-repeat;
    margin: 0 auto;
}

.about #main #aboutSlider {
    width: 736px;
    height: 352px;
    margin: 0 auto;
    background: url(../img/slider/loading.gif) no-repeat 50% 50%;
    position: relative;
}

.about .nivo-controlNav {
    display: none;
}

.about .nivo-directionNav a {
    display: block;
    width: 36px;
    height: 50px;
    background: url(../img/slider/about_arrows.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    top: 45%;
}

.about a.nivo-nextNav {
    right: -60px;
    background-position: 0 5px;
}

.about a.nivo-prevNav {
    background-position: 0 -48px;
    left: -60px;
}

.about .nivo-caption {
    background: none repeat scroll 0 0 transparent;
    bottom: -190px;
    font-family: Helvetica, Arial, sans-serif;
    height: 150px;
    position: absolute;
    text-shadow: none;
    width: 900px;
    left: -80px;
}

.about .nivo-caption a {
    color: #efe9d1;
    text-decoration: underline;
}

.about #sfwText {
    text-align: center;
    padding: 10px;
}

.contact #main {
    background: url("../img/contact_bg.jpg") no-repeat scroll 0 0 transparent;
    height: 367px;
    margin: 0 auto;
    padding: 35px 110px;
    width: 710px;
}

.contact label, .contact input, .contact textarea {
    display: block;
}

.contact label {
    font-size: 20px;
    padding: 3px;
}

.contact input {
    height: 31px;
    width: 335px;
    border: none;
    background: none;
    font-size: 20px;
    color: #fff;
    margin-left: 5px;
    margin-top: 1px;
}

.contact #contactLeft {
    width: 350px;
    float: left;
}

.contact #contactRight {
    width: 345px;
    float: right;
}

.contact textarea {
    border: none;
    background: none;
    width: 340px;
    height: 250px;
    font-size: 20px;
    color: #fff;
    -webkit-resize: none;
    -moz-resize: none;
    resize: none;
}

.contact #contactBtn {
    background: url("../img/contact_btn.png");
    width: 308px;
    height: 35px;
    border: none;
    color: #fff;
    font-size: 18px;
    margin: 15px 20px;
}

.contact #contactBtn:hover {
    text-decoration: underline;
}

#imageDisplay {
    width: 883px;
    height: 350px;
    margin: 0 auto;
    padding: 10px;
}

#imageDisplay img {
    -webkit-box-shadow: 2px 2px 4px #000;
    -moz-box-shadow: 2px 2px 4px #000;
    box-shadow: 2px 2px 4px #000;
}

#carousel li.active {
    margin-top: 0;
}

#carousel li.active img {
    border: 1px solid red;
    -webkit-box-shadow: 2px 2px 4px #000;
    -moz-box-shadow: 2px 2px 4px #000;
    box-shadow: 2px 2px 4px #000;
}

#carousel li.active a:focus {
    outline: none;
}

#galleryLink {
    bottom: 12px;
    color: red;
    display: block;
    font-size: 20px;
    font-weight: bold;
    left: 20px;
    position: absolute;
}

#projectList {
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid red;
    -webkit-border-radius: 0 0 50px 0;
    -moz-border-radius: 0 0 50px 0;
    border-radius: 0 0 50px 0;
    float: left;
    left: 75px;
    margin-top: 0;
    position: absolute;
    width: 160px;
    z-index: 99;
    padding: 10px 10px 15px;
    display: none;
}

.no-rgba #projectList {
    background: #333;
}

#projectList li {
    font-size: 20px;
    list-style: none;
    margin: 5px;
}

.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.ir br {
    display: none;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@media print {
    * {
        background: transparent !important;
        color: black !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }
}


